<!DOCTYPE html>
<html lang="en">


@Html.Partial("_Header")
<body>
    @Html.Partial("_Title")
    @Html.Partial("_Menu")

    @RenderBody()
    @Html.Partial("_Footer")


    <!-- Bootstrap core JavaScript -->
    @Html.Partial("_Script")


</body>

</html>
